* {
	padding: 0;
	margin: 0;
	font-family: Candara, sans-serif;
}

div.container {
	border: 1px solid #CECECE;
	width: 50vw;
	margin: 0 auto;
}

div.header {
	background-color: #CECECE; 
	padding: .5vw;
}

div.header p {
	color: #FFFFFF;
	text-align: center;
	font-size: 3vw;
}

div.footer {
	text-align: center;
	font-size: small;
	padding-bottom: .5vw;
}

@media screen and (max-width: 480px) {
    div.container {
		width: 100vw;
	}

	div.header { 
		padding: 5vw;
	}

	div.header p {
		font-size: 7vw;
	}
}